
body {
    background-color: #A2AB58;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
.header{
  background-color: blue;
}
.columnmenu{
 background-color: #b34d4d;
}
.columnmenu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnmenu ul li{
  list-style: none;
}
.columnmenu ul li a{
  color:white;
  text-decoration: none;
}
.columncontent{
  margin-top: 30px;
  background-color: #4289f4;
}
.columncontent img{

  height:400px;
  width:300px;
  border:2px solid black;
  border-radius: 100%;
  margin: auto;
  display: block;
}
.aboutme{
  font-family: 'Nova Oval', cursive;
  text-align:center;
  }

.textbelow{
  font-family: 'Monda', sans-serif;
  text-align:justify;
  }
.footerc{
  color:#ff0000;
  font-family: 'Monda', sans-serif;
  text-align:justify;
}
.footerc p {
      font-family: verdana;
      font-size: 10px;
}
body{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}
.form {
  font-size: 1.2em;
  text-align: left;
  color: blue;
}
.imageq{
  background-color: #42d9f4;
  }
.imageq img{

      height:400px;
      width:300px;
      border:2px solid #4289f4 ;
      border-radius: 100%;
      margin: auto;
      display: block;
    }

header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	background-color: #668284;
	margin-bottom: 10px;
}

#name {
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

#email{
	float:right;
	margin-right: 5px;
	padding-top: 5px;
	font-size: 16px;
	font-family: Verdana, sans-serif;
	color: #ffffff;
}

h4 {
	margin-left: 5px;
	margin-bottom: 15px;
	font-family: Verdana, sans-serif;
}

.right p {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: -10px;
	font-family: Garamond, serif;
	color: #000000;
}

li {
	list-style-type: square;
}

a:hover {
	font-weight: bold;
}

.left {
	position: relative;
	float: left;
	margin-top: 50px;
	width: 10%;
	height: 400px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
}

#footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: #ffffff;
}
#footer p {
	position: relative;
	padding-top: 15px;
}
.contact .imageq img{

      height:400px;
      width:300px;
      border:2px solid #4289f4 ;
      border-radius: 100%;
      margin: auto;
      display: block;
}
