body{
  background-color: skyblue;
}
body {
    background-color: lightblue;
}
h1 {
    color: white;
    text-align: center;
}
p {
    font-family: verdana;
    font-size: 20px;
}
.header{
  background-color: blue;
}
.columnmenu{
 background-color: #b34d4d;
}
.columnmenu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.columnmenu ul li{
  list-style: none;
}
.columnmenu ul li a{
  color:white;
  text-decoration: none;
}
.columncontent{
  margin-top: 30px;
  background-color: #9494b8;
}
.columncontent img{

  height:400px;
  width:300px;
  border:2px solid black;
  border-radius: 10%;
  margin: auto;
  display: block;
}
.aboutme{
  font-family: 'Nova Oval', cursive;
  text-align:center;
  }

.textbelow{
  font-family: 'Monda', sans-serif;
  text-align:justify;
  }
.footerc{
  color:#ff0000;
  font-family: 'Monda', sans-serif;
  text-align:justify;
}
.footerc p {
      font-family: verdana;
      font-size: 10px;
}
body{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}
.form {
  font-size: 18:;
  text-align: left;
  color: blue;
}
